@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap");

body {
  background: #242525;
  margin: 0;
  font-family: "Ubuntu", sans-serif;
}

.App {
  padding: 40px 30px;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
}
nav {
  padding: 25px 0;
  ul {
    display: flex;
    list-style-type: none;

    li {
      margin-right: 20px;

      a {
        font-size: 28px;
        font-weight: 700;
        color: rgba(255, 255, 255, 0.5);

        &.active {
          color: #fff;
        }
      }
    }
  }
}
.pagination-buttons {
  display: flex;
  justify-content: flex-end;
  margin-right: 14rem;
  button {
    width: 116px;
    background: #3c3c3c;
    border-radius: 60px;
    padding: 15px;
    font-weight: bold;
    font-size: 10px;
    text-transform: uppercase;
    border: none;
    color: #ffffff;
    margin-right: 10px;
  }
}

.news-wrapper {
  display: flex;
}
.cards-container {
  display: flex;
  flex-wrap: wrap;
}
.card {
  width: 280px;
  height: 425px;
  position: relative;
  margin: 0 18px 18px 0;
  border-radius: 6px;
  overflow: hidden;

  .card-bg {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .card-content {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    background: linear-gradient(180deg, rgba(28, 58, 82, 0) 0%, #05141b 75.5%);
    display: flex;
    flex-direction: column;
  }

  .card-bottom {
    margin-top: auto;
  }
  .card-title {
    font-size: 24px;
    color: #fff;
    margin: 0;
  }
  .card-summary {
    font-size: 16px;
    color: rgba(255, 255, 255, 0.4);
  }
}
.details {
  display: flex;
  align-items: center;
  margin-top: 18px;

  .date {
    color: rgba(255, 255, 255, 0.75);
    font-size: 12px;
  }
  .separator {
    margin: 0 17px;
    background-color: rgba(255, 255, 255, 0.1);
    width: 1px;
    height: 20px;
  }
  .time {
    color: rgba(255, 255, 255, 0.35);
    font-size: 12px;
    font-weight: bold;
  }
  .details-actions {
    margin-left: auto;
    display: flex;
    svg {
      margin-left: 13px;
      cursor: pointer;
    }
  }
}

.label {
  color: #fff;
  font-size: 10px;
  padding: 5px 15px;
  border-radius: 30px;
  border: 1px solid #fff;
  display: inline-block;
}

aside {
  width: 478px;
  height: 628px;
  margin-right: 24px;
  flex: 0 0 478px;
}
